= render 'shared/customer_info' 


///////////////////////
/// Customer Notes ///
/////////////////////
%div#notes
  %h1 Customer Notes
  Customer Notes Go Here


///////////////////////
/// Customer Units ///
//////////////////////
%div#units
  %h1 Installed Units
  - if (@customer.units.empty?) # Display message if Customer has no units
    %p
      %i There are no units for this customer.
  - else
    - # Show each Unit tied to selected customer. 
    %table
      %tr.even
        %td
          Model
        %td
          Serial Number
      - @customer.units.each do |unit|
        %tr
          %td
            = unit.model
          %td
            = unit.serial_number
      %tr
        %td{ :colspan => 2, :align => 'right' }
          = link_to "Add New Unit", new_unit_path


///////////////////////
/// Service Notes   ///
///////////////////////
%div#unit_notes
  %h1 Service Notes
  Service notes will go here. 


          
