= render 'shared/customer_info' 

///////////////////////
/// Customer Units ///
//////////////////////
%div#units
  %h2 Installed Units
  %table.report
    %tr
      %th Model
      %th Serial Number

    - if (@customer.units.empty?) # Display message if Customer has no units
      %tr
        %td{ :colspan => '2' } There are no installed units for this customer.
    - else
      - # Show each Unit tied to selected customer. 
      - @customer.units.each do |unit|
        %tr
          %td= unit.model
          %td= unit.serial_number
    %tr
      %td{ :colspan => 2, :style => 'text-align: right' }
        = link_to "Add New Unit", new_customer_unit_path(@customer)


///////////////////////
/// Customer Notes ///
/////////////////////
%div#notes
  %h2 Customer Notes
  %table.report
    %tr
      %th Note
      %th Date Added
      %th 
    %tr
      %td Test Note - Static
      %td Test Date - Static
      %td Edit | Delete
    %tr
      %td{ :colspan => '3', :style => 'text-align: right' } New Note


///////////////////////
/// Service Notes   ///
///////////////////////
%div#unit_notes
  %h1 Service Notes
  Service notes will go here. 


          
